<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
            <li class="main-header__item"><a class="active" href="/">Home</a></li>
            <li class="main-header__item"><a href="/admin/search-error">Search Errors</a></li>
            <li class="main-header__item"><a href="/login">Login</a></li>
            </ul>
        </nav>
        
    </header>

    <main class="form-suggestion">
        <h1>Suggestion for this error</h1>
        <div>
            <ul class="form-ul">
                <li><p>First ...</p></li>
                <li><p>Second ...</p></li>
                <li><p>Third ...</p></li>
            </ul>
        
        </div>
        <!-- <form action="add-product" method="POST">
            <input type="text" name="title">
            <button type="submit">Add Product</button>
        </form> -->
    </main>
</body>
</html>