/* * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
} */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto&display=swap');


/* div {
    border: 1px solid rgb(90, 4, 90);
} */

.parent__div {

    width: 100%;
    height: 40rem;
    display: grid;
    grid-template-columns: 22% 56% 22%;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.first__div {
    height: auto;
    border-right: .5px solid rgb(203, 202, 202);
}

.main__class {
    width: 100%;
    margin-top: 10%;
}

.main__div {
    border-bottom: .5px solid rgb(203, 202, 202);
    margin: 3rem 4rem;
}

.last__div {
    height: auto;
    border-left: .5px solid rgb(203, 202, 202);
}

.post__item {
    text-align: left;
    height: max-content;
}

.post__category {
    position: relative;
    height: 40px;
    margin: .5rem 0;
}

.span_post__category {
    position: absolute;
    width: 100%;
    top: .5rem;
    left: 0;
}

.h1__title {
    color: rgb(64, 123, 249);
    font-size: 19px;
    font-weight: 0;
    letter-spacing: .5px;
    cursor: pointer;
}

.h1__title:hover {
    color: rgb(4, 102, 176);
}

.category__padding {
    padding: .4rem .4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: .5rem;
    background-color: rgb(19, 122, 207);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.category__padding:hover {
    background-color: rgb(17, 103, 173);
}

.p__description {
    font-size: 19px;
    letter-spacing: .5px;
    margin: .5rem 0 1rem 0;
}

#NPF {
    margin-left: 1rem;
    margin-top: 1rem;
    color: red;
}

.imgclass {
    border-bottom: 1px solid rgb(203, 202, 202);
    margin-bottom: 1rem;
}

.classbutton {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid rgb(203, 202, 202);
    padding: .5rem 1rem;
    display: flex;
    justify-content: end;
}

.editbtn,
.deletebtn {
    padding: .4rem;
    background-color: rgb(253, 253, 253);
    border: 1px solid rgb(47, 47, 92);
    border-radius: 8px;
    font-size: 18px;
}

.editbtn {
    margin: 0 1rem;
    color: rgb(14, 14, 192);
}

.deletebtn {
    color: red;
}

.deletebtn:hover {
    background-color: red;
    color: white;
}

.editbtn:hover {
    background-color: rgb(46, 46, 237);
    color: white
}