.signup-section {
  width: 100%;
  height: 40em;
  margin: 11rem 0;
  z-index: 10;
}

.main_signup-form {
  background-color: white;
  border: 1px solid rgb(192, 190, 190);
  width: 40%;
  height: 60%;
  padding: 2rem;
  margin: 0 auto;
  border-radius: 5px;
  opacity: 1;

}

.signup-form {
  width: 25rem;
  max-width: 90%;
  margin: 0 auto;
  display: block;
}

.signup_form-control {
  margin: 1rem auto;
}

.signup_form-control label,
.signup_form-control input,
.signup_form-controll textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
  font-size: 20px;
}

.signup_form-control input {
  font-size: 20px !important;
}

.signup_form-control input {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 3px;
  height: 35px;
  width: 100%;
}

/* .error_form-control input:focus {
    outline-color: #fcca7f;
} */

.submit-btn {
  font: inherit;
  border: 1px solid #bbbdbf;
  color: #000000;
  background: rgb(239, 237, 237);
  border-radius: 4px;
  cursor: pointer;
  padding: .5rem;
  margin-top: 1rem;
  letter-spacing: 1px;
  font-size: 18px;
}

.submit-btn:hover {
  color: rgb(11, 11, 12);
  background-color: white;
}

.__errormessage {
  margin: auto;
  width: 45%;
  height: 4rem;
  border: 1px solid rgb(148, 4, 4);
  background-color: rgb(245, 5, 5);
  /* text-align: center; */
  color: rgb(255, 255, 255);
}

.__messageError {
  margin-bottom: 2rem;
}

.signup__error {
  font-size: 20px;
  margin-top: 1rem;
  text-align: center;
}

.signup_form-control input.invalid {
  border: 2px solid red;
}

@media (max-width: 800px) {
  .signup-section {
    width: 100%;
    height: 55em;
  }

  .main_signup-form {
    border: 1px solid rgb(192, 190, 190);
    width: 70%;
    height: 55%;
    padding: 1rem;
  }

  .signup-form {
    margin-top: 5rem;
  }

  .signup_form-control label {
    font-size: 16px;
  }

  .submit-btn {
    color: #000000;
    background: rgb(239, 237, 237);
    padding: .5rem;
    margin-top: 1rem;
    font-size: 15px;
  }

  .submit-btn:hover {
    color: rgb(3, 3, 253);
    background-color: white;
  }

}