<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="../css/post.css">
    </head>

    <body>

        <%- include('../includes/navigation.ejs') %>

            <section class="post-section">

                <main class="main_error-form">

                    <form class="error-form" action="/user/add-post" method="POST">
                        <div class="error_form-control">
                            <label for="title">Error Title</label>
                            <input type="text" name="title" id="title">
                        </div>

                        <!-- <div class="error_form-control">
                            <label for="category">Category</label>
                            <input type="text" name="category" id="category">
                        </div> -->

                        <div class="error_form-control">
                            <label for="description">Description</label>
                            <textarea type="text" name="description" id="description" rows="5"
                                class="description"></textarea>
                        </div>

                        <div class="error_form-control">
                            <label for="imageUrl">Image</label>
                            <input type="file" name="imageUrl" id="image_input">
                            <div id="display_image">

                            </div>
                        </div>
                        <button class="submit-btn" type="submit">Submit</button>
                    </form>

                </main>

            </section>

            <%- include('../includes/script.ejs') %>

                <%- include('../includes/end.ejs') %>